langchain
langchain-openai
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
pandas
ipykernel
pymupdf
python-docx
docx2txt
matplotlib
langchain-huggingface

langgraph